body,
h1,
h2,
h3,
p {
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin: 0.5rem;
}

p:nth-of-type(2) {
  font-style: italic;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

h3 {
  margin-top: 0.25rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  gap: 96px;
}
